server:
  port: ${OSM_NOTIFICATION_SERVICE_LISTEN_PORT:8080}

spring:
  application:
    name: openstreetmap-notification-service

  datasource:
    url: jdbc:postgresql://${OSM_NOTIFICATION_SERVICE_DATABASE_HOST}:${OSM_NOTIFICATION_SERVICE_DATABASE_PORT}/${OSM_NOTIFICATION_SERVICE_DATABASE}
    username: ${OSM_NOTIFICATION_SERVICE_DATABASE_USERNAME}
    password: ${OSM_NOTIFICATION_SERVICE_DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-init-sql: CREATE SCHEMA IF NOT EXISTS notification_data;

  jpa:
#    show-sql: true
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update

  sql:
    init:
      mode: always
      data-locations:
        - classpath:sql/notification_types.sql

  http:
    codecs:
      max-in-memory-size: 1GB
